<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- Console output -->
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="DEBUG" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{MM-dd HH:mm:ss} %m  (%F:%L) \n" />
        </layout>
    </appender>
    
    <category name="org.reflections">
        <priority value="INFO" />
    </category>

    <category name="org.springframework">
        <priority value="WARN" />
    </category>

    <category name="org.springframework.context">
        <priority value="WARN" />
    </category>

    <category name="org.springframework.transaction">
        <priority value="WARN" />
    </category>

    <category name="org.springframework.orm.jpa">
        <priority value="WARN" />
    </category>
    
<!--     <category name="org.springframework.jdbc">
        <priority value="TRACE" />
    </category> -->
    
    <category name="org.springframework.web">
        <priority value="INFO" />
    </category>

    <category name="org.springframework.web.filter">
        <priority value="DEBUG" />
    </category>

    <!--The root category defines the top level of appenders all categories inherit -->
    <root>
        <priority value="INFO" />
        <appender-ref ref="STDOUT" />
    </root>

</log4j:configuration>